<profile-card  id="profileCardModal">
	<style>
		#profileCardModal {
			display: none;
			position: fixed;
			z-index: 10;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.4);
		}
		.profile-card {
			transition: all 0.1s;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #ECEEE7;
			border-radius: 5%;
			padding: 20px;
		}
		.userAvatar {
			border-radius: 50%;
			height: 12em;
			width: 12em;
		}
		.userMessage {
			background-color: white;
			border-radius: 5%;
			color: #899681;
			height: 5em;
			width: 15em;
		}
		.score {
			color: #7D9F56;
		}
		.btn-add-friend {
			background-color: #97B278; 
			border-color: #97B278;
		}
		.btn:hover {
			background-color: #596948; 
			border-color: #596948;
		}
		.btn:first-child:active {
			background-color: #FFFFFF; 
			border-color: #FFFFFF;
		}
		.btn-close {
			--bs-btn-close-focus-shadow:0 0 0 0.25rem rgb(34, 86, 6, 25%);
		}
		.status-circle {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #7D9F56;
			border: 2px solid white;
			bottom: 1.3em;
			right: 1.3em;
			position: absolute;
		}
	</style>
	<div class="d-flex justify-content-center">
		<div id="profileCard" class="profile-card">
			<div class="d-flex justify-content-end">
			<button type="button" class="btn-close"></button>
			</div>
			<div class="d-flex justify-content-center">
				<div class="position-relative">
					<img class="userAvatar" src="https://media.istockphoto.com/id/1205184037/ko/%EC%82%AC%EC%A7%84/%EC%9E%90%EC%97%B0-%EC%9E%8E.jpg?s=612x612&w=0&k=20&c=KB22ijzlV2zSZAXc0NsxnjTi8HX948QBAzMyede1Skw=" alt="user image">
					<div class="status-circle">
					</div>
				</div>
			</div>
			<div class="d-flex align-items-center justify-content-center my-2">
				<p class="px-1 mb-0">lv.20</p>
				<p class="px-1 mb-0">user name</p>
			</div>
			<div class="d-flex justify-content-center my-2 px-2">
				<p class="score px-2 mb-0">10 승</p>
				<p class="score px-2 mb-0">3 패</p>
			</div>
			<div class="userMessage d-flex justify-content-center align-items-center">
				<p class="my-1">state message</p>
			</div>
			<div class="add-friend d-flex justify-content-center mb-0">
				<a href="/friend" class="btn btn-primary btn-add-friend mt-3" data-link>친구추가</a>
			</div>
		</div>
	</div>
</profile-card>