<home-view>
  <nav-bar data-component="NavBar"></nav-bar>
  <div style="display: flex; flex-direction: row">
    <div style="margin-right: 2em">
      <h2>Hello {{user.profile.id}}</h2>
      <img 
      style="width: 100px; height:100px" src="{{user.profile.avartar.url}}" alt="profile">
    </div>
    <ul data-for="friend in user.friends">
      <li style="display: flex; flex-direction: row">
        <h3> {{friend.id}}</h3>
        <img 
        style="width: 50px; height: 50px" 
        data-condition="friend.avartar.url" 
        src="{{friend.avartar.url}}" alt="profile">
      </li>
    </ul>
  </div>
</home-view>
