<game-view class="page">
  <style>
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
    .game-topbar {
      background-color: #303D29;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    .logo-image {
      width: 150px;
      margin-top: 0.2em;
      height: auto;
    }
    #start-button{
      display: inline-block;
      text-align: center;
      visibility: hidden;
      margin: 0.5em;
      font-weight: bold;
      padding: 0.5em;
      padding-left: 0.8em;
      padding-right: 0.8em;
      background-color: white;
      text-shadow: -1px -1px black, 1px 1px gray;
      color: black;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -o-border-radius: 7px;
      border-radius: 7px;
      box-shadow: 0 .2em gray; 
      cursor: pointer;
    }
    #start-button>span {
      display: none;
    }
    #start-button:hover>span {
      display: inline-block;
      position: absolute;
      top: 4em;
      right: 5em;
      color: white;
      background-color: #303D29;
      border-radius: 10px;
      padding: 0 0.5em;
    }
    #score-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      padding: 0.5em;
    }
    #score-container>span {
      margin: 0em 0.5em;
      font-width: bold;
    }
    .score-placeholder{
      background: white;
      color: #303D29;
      border-radius: 5px;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      text-align: center;
      font-family: "Silkscreen", cursive;
      font-style: normal;
      font-weight: 800;
      font-size: 1em;
    }
  </style>
  <div class="game-topbar">
    <img src="./srcs/assets/logo.svg" alt="logo" class="d-inline-block align-text-top logo-image">
    <div id="score-container" 
         data-for="player in currentPlayers">
      <span style="color:white;">{{player.nickname}}</span>
      <span class="score-placeholder" 
        data-player={{player.nickname}}>0</span>
    </div>
    <p></p>
    <button id="start-button">Start
      <span>You can press enter </span></button>
  </div>
  <div class="canvas_container">
    <canvas class="game_canvas"></canvas>
  </div>
</game-view>
