<match-view class="d-flex flex-column justify-content-start view">
	<div class="mb-auto">
		<div class="d-flex my-5 mx-5 mb-2">
			<h1 class="me-5 page-name">Online 1 : 1</h1>
		</div>
		<div class="d-flex justify-content-center ">
      <div class="d-flex profile-card-record flex-column justify-content-between align-items-center mx-5 mt-3 mb-4 match-player-card">
        <div class="d-flex justify-content-center">
          <div class="position-relative">
            <img class="user-avatar"
              src="https://media.istockphoto.com/id/1205184037/ko/%EC%82%AC%EC%A7%84/%EC%9E%90%EC%97%B0-%EC%9E%8E.jpg?s=612x612&w=0&k=20&c=KB22ijzlV2zSZAXc0NsxnjTi8HX948QBAzMyede1Skw="
              alt="user image">
            <div class="status-circle">
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center my-2 ">
          <p class="px-1 mb-0 user-level">lv.20</p>
          <p class="px-1 mb-0 user-name">user name</p>
        </div>
        <div class="d-flex justify-content-center my-2 px-2">
          <p class="score px-2 mb-0">10 승 3 패</p>
        </div>
        <div class="user-message-record d-flex justify-content-center align-items-center">
          <p class="my-1 state-message">state message</p>
        </div>
      </div>
      <div class="mx-2" style="color: #7D9F56; margin-top: auto; margin-bottom:auto; font-size: 3em;">VS</div>
      <div class="d-flex profile-card-record flex-column justify-content-between align-items-center mx-5 mt-3 mb-4 match-player-card">
        <div class="d-flex justify-content-center">
          <div class="position-relative">
            <img class="user-avatar"
              src="https://media.istockphoto.com/id/1205184037/ko/%EC%82%AC%EC%A7%84/%EC%9E%90%EC%97%B0-%EC%9E%8E.jpg?s=612x612&w=0&k=20&c=KB22ijzlV2zSZAXc0NsxnjTi8HX948QBAzMyede1Skw="
              alt="user image">
            <div class="status-circle">
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center my-2">
          <p class="px-1 mb-0 user-level">lv.20</p>
          <p class="px-1 mb-0 user-name">user name</p>
        </div>
        <div class="d-flex justify-content-center my-2 px-2">
          <p class="score px-2 mb-0">10 승 3 패</p>
        </div>
        <div class="user-message-record d-flex justify-content-center align-items-center">
          <p class="my-1 state-message">state message</p>
        </div>
      </div>
		</div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center game-config">
        <div class="d-flex align-items-center my-auto text-secondary">
          <span class="material-symbols-outlined">settings</span>
          <span class="mx-2">게임 설정</span>
          <span class="material-symbols-outlined">settings</span>
        </div>
        <div>
          <div id="map-modal" style="display: none;" >
            <map-selector data-component="MapSelector"></map-selector>
          </div>
          <button id="confMapBtn" class="btn btn-primary ms-4">맵</button>
          <button id="confPaddleBtn" class="btn btn-primary ms-4">패들 속도</button>
        </div>
      </div>
      <div class="d-flex justify-content-end game-play">
        <a href="/game" class="btn btn-primary btn-play" data-link>PLAY</a>
      </div>
    </div>
	</div>
  <div class="map-wrap match-modal" style="display: none;">
    <div class="map-modal d-flex flex-column justify-content-center">
      <div class="d-flex justify-content-between">
        <span>맵</span>
        <button type="button" class="btn-close ms-auto"></button>
      </div>
      <div class="container">
        <div class="low">
          <div class="col">
            <img src="srcs/assets/imac.png" alt="map1" class="img-map">
            <img src="srcs/assets/imac.png" alt="map2" class="img-map">
          </div>
          <div class="col">
            <img src="srcs/assets/imac.png" alt="map3" class="img-map">
            <img src="srcs/assets/imac.png" alt="map4" class="img-map">
          </div>
        </div>
      </div>
      <button class="btn btn-primary">확인</button>
    </div>
  </div>
  <div class="paddle-wrap match-modal" style="display: none;">
    <div class="map-modal d-flex flex-column justify-content-center">
      <div class="d-flex justify-content-between">
        <span>패들 속도</span>
        <button type="button" class="btn-close ms-auto"></button>
      </div>
      <input type="range" name="paddle-speed" id="paddleSpeed" max="5" min="0" step="1">
      <button class="btn btn-primary">확인</button>
    </div>
  </div>
</match-view>
  
