<auth-view class="d-flex flex-column view justify-content-center">
    <div class="d-flex justify-content-start mb-auto m-5">
        <h1 class="page-name">2차 인증</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-auto">
        <div class="d-flex flex-column justify-content-center">
            <input type="number" placeholder="enter otp code" class="input-otp" name="2fa" id="2fa">
            <button type="submit" class="btn btn-primary m-4">Submit</button>
        </div>
    </div>
</auth-view>
  