<login-view>
  <style>
    .img-logo {
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .btn-login {
      background-color: #D0D8C0; 
      border-color: #D0D8C0;
    }
    .btn-login:hover {
      background-color: #b3baa5; 
      border-color: #b3baa5;
    }
  </style>
  <div class="row" style="
    background-image: url(./srcs/assets/forest.jpeg); 
    height: 100vh; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    ">
    <div class="d-flex justify-content-center align-self-center img-logo">
      <img src="./srcs/assets/logo.svg"></img>
    </div>
    <div class="d-flex justify-content-center align-self-start">
      <a href="/" data-link id="login-button" class="btn btn-lg btn-primary btn-login">LOGIN</a>
    </div>
  </div>
</login-view>
